<div id='chatWindow'>
  <div class="frame">
    <div class="showMessages">
      <!-- messages -->
      <div class="wall">

      <div class="miniMessage">
          <div class="photoDate">
            <div class="friendPhoto">
              <img src='img/hulk.jpg'>
            </div>
            <span class='date'>11:40</span>
          </div>
        <span class="minMessage">lol, omg</span>
      </div>

      <div class="miniMessage">
          <div class="photoDate">
            <div class="friendPhoto">
              <img src='img/hulk.jpg'>
            </div>
            <span class='date'>11:40</span>
          </div>
        <span class="minMessage">lol, omg</span>
      </div>

      <div class="miniMessage">
          <div class="photoDate">
            <div class="friendPhoto">
              <img src='img/hulk.jpg'>
            </div>
            <span class='date'>11:40</span>
          </div>
        <span class="minMessage">lol, omg</span>
      </div>

      <div class="miniMessage">
          <div class="photoDate">
            <div class="friendPhoto">
              <img src='img/hulk.jpg'>
            </div>
            <span class='date'>11:40</span>
          </div>
        <span class="minMessage">lol, omg</span>
      </div>

      <div class="miniMessage">
          <div class="photoDate">
            <div class="friendPhoto">
              <img src='img/hulk.jpg'>
            </div>
            <span class='date'>11:40</span>
          </div>
        <span class="minMessage">lol, omg</span>
      </div>
</div>

    </div>
    <div class="typeMessage">
      <div class="myPhoto friendPhoto">
        <img src='img/o12S9j9oevs.png'>
      </div>
      <form onsubmit="return createMessage()">
        <textarea id='newMessage' onkeypress="if (event.keyCode==13){return createMessage()}"></textarea>
        <button class="sendMessage">Send</button>
      </form>
      <div class="friendPhoto">
        <img src='img/hulk.jpg'>
      </div>
    </div>
  </div>
</div>
