  <form id='myPageConfig'>
    <div class="labels">
      <label for="status">Status: </label>
      <label for="city">City: </label>
      <label for="phone">Phone: </label>
      <label for="birthday">Birthday: </label>
      <label for="work">Work: </label>
      <label for="school">School: </label>
      <label for="schoolMoto">School moto: </label>
      <label for="schoolImg">School image: </label>
      <label for="schoolSite">School site: </label>
      <label for="university">University: </label>
      <label for="universityMoto">University moto: </label>
      <label for="universityImg">University image: </label>
      <label for="universitySite">University site: </label>
    </div>
    <div class="inputs">
      <input type="text" id="status" name="status">
      <input id="city" name="city" type="text">
      <input id="phone" name="phone" type="tel">
      <input id="birthday" name="birthday" type='date'>
      <input type="text" id="work" name="work">
      <input id="school" type="text" name="school">
      <input id="schoolMoto" type="text" name="schoolMoto">
      <input type="file" id="schoolImg" name="schoolImg">
      <input type="url" id="schoolSite" name="schoolSite">
      <input id="university" type="text" name="university">
      <input id="universityMoto" type="text" name="universityMoto">
      <input type="file" id="universityImg" name="universityImg">
      <input type="url" id="universitySite" name="universitySite">
    </div>
    <button class="sendMessage">Apply</button>
  </form>
