<article class="friends">
  <div class="myfriends">
    <div class="friendPhoto">
      <img src='img/maxx.jpg'>
    </div>
    <div class="friendInf">
      <span class="friendName">Maxx Seredenko</span>
      <div class="state-online"></div>
      <br>
      <span class="status">'python is the best'</span>
      <br>
      <div class="friendState">Best friend</div>
      <br>
    </div>
    <button class="sendMessage" onclick="openChat()">Send message</button>
  </div>

  <!-- friend #2 -->
  <div class="myfriends">
    <div class="friendPhoto">
      <img src='img/hulk.jpg'>
    </div>
    <div class="friendInf">
      <span class="friendName">Dodick Dodicovitch</span>
      <div class="state-online"></div>
      <br>
      <span class="status">'mestniy doda'</span>
      <br>
      <div class="friendState">School friend</div>
      <br>
    </div>
    <button class="sendMessage" onclick="openChat()">Send message</button>
  </div>

  <div class="myfriends">
    <div class="friendPhoto">
      <img src='img/hulk.jpg'>
    </div>
    <div class="friendInf">
      <span class="friendName">Dodick Dodicovitch</span>
      <div class="state-online"></div>
      <br>
      <span class="status">'mestniy doda'</span>
      <br>
      <div class="friendState">School friend</div>
      <br>
    </div>
    <button class="sendMessage" onclick="openChat()">Send message</button>
  </div>

  <div class="myfriends">
    <div class="friendPhoto">
      <img src='img/hulk.jpg'>
    </div>
    <div class="friendInf">
      <span class="friendName">Dodick Dodicovitch</span>
      <div class="state-online"></div>
      <br>
      <span class="status">'mestniy doda'</span>
      <br>
      <div class="friendState">School friend</div>
      <br>
    </div>
    <button class="sendMessage" onclick="openChat()">Send message</button>
  </div>

</article>
