<div id="myMessages">
    <div class="message" onclick="openChat()">
      <div class="photoFriend">
        <img src="img/hulk.jpg">
      </div>
      <div class="state-online"></div>
      <span class="textMessage">Где твоя лабораторная!!!!?</span>
    </div>
    <div class="message" onclick="openChat()">
      <div class="photoFriend">
        <img src="img/hulk.jpg">
      </div>
      <div class="state-online"></div>
      <span class="textMessage">Принципово неправильний чертіж!</span>
    </div>
</div>
